<%= link_to "New music", new_music_object_path %>
<%= link_to "New game", new_game_path %>


<h2>LibRoRian</h2>
<br></br>
<h2>Music</h2>
<ul>
  <% @music_objects.each do |music_object| %>
  <li><%= link_to music_object.title, music_object %></li>
  <% end %>
</ul>
